name: winauth_flutter
version: 0.0.1

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: 2.11.1
  plugin_platform_interface: ^2.0.2

flutter:
  plugin:
    platforms:
      windows:
        ffiPlugin: true